@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  60% {
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(300px);
  }
  60% {
    transform: rotate(60deg);
  }
  80% {
    transform: translate(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
